<form action="/lead" method="POST">
  <input type="text" name="name" placeholder="Seu nome" required />

  <input type="email" name="email" placeholder="Seu email" required />

  <button type="submit">
    Baixar PDF
  </button>
</form>