<section id="quem-somos" class="w-full mx-auto text-primary-600 relative px-4 sm:px-6 lg:px-8" data-aos="fade-up">
    <section class="max-w-7xl mx-auto relative px-8 py-18">
        <div class="flex justify-center text-center">
            <div class="max-w-4xl text-lg lg:text-2xl tracking-tighter leading-relaxed">
                Somos uma Organização da Sociedade Civil (OSC) que trabalha para e com mulheres, atuando com pesquisa, ensino, extensão, gestão, assistência e <i>advocacy</i>.
            </div>
        </div>
    </section>
</section>