<section class="w-full bg-tertiary-50 py-28">
    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
            <div>
                <h2 class="text-3xl lg:text-4xl font-medium tracking-tighter text-secondary-600 mb-6">
                    Fortaleça <span class="text-primary-600">a Sociedade Civil Organizada!</span>
                </h2>
                
                <p class="text-primary-900 leading-relaxed mb-4">
                    Seja a organização que contribui com projetos sociais enquanto promove o ESG e os ODS. 
                    Promova desenvolvimento sustentável fortalecendo a Sociedade Civil Organizada!
                </p>
            </div>

            <div class="flex justify-center">
                <img src={`${import.meta.env.BASE_URL}esg.svg`} alt="ESG" width="300" height="300" />
            </div>
        </div>
    </section>
</section>