<div class="relative min-h-screen bg-gradient-to-b from-tertiary-100 to-tertiary-300 flex items-center justify-center">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-18">
        
        <div class="flex justify-center mb-12">
            <img src={`${import.meta.env.BASE_URL}logo-instituto-elaborar.svg`} alt="" class="w-100 h-auto">
        </div>
        
        <div class="text-center mb-16">
            <h1 class="text-4xl lg:text-6xl font-medium tracking-tighter text-secondary-600  mb-4">
                Transformação <span class="text-primary-600">Social</span>
            </h1>
        </div>
        
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 max-w-5xl mx-auto">
            
            <div class="text-center lg:text-left">
                <p class="text-lg text-primary-950 leading-relaxed">
                    Promoção de ação social e formação cidadã em comunidades em situação de 
                    vulnerabilidade social com instituições de ensino, via captação de recursos públicos e privados.
                </p>
            </div>
            
            <div class="text-center lg:text-left">
                <p class="text-lg text-primary-950 leading-relaxed">
                    Serviços especializados para organizações do trabalho, visando promover saúde, 
                    equidade, inclusão e pertencimento de mulheres em situação de vulnerabilidade social.
                </p>
            </div>           
        </div>
    </div>

    <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce">
        <svg class="w-6 h-6 text-primary-800" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
    </div>
</div>