<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <h2 class="text-2xl font-medium tracking-tight text-secondary-600 mb-3">Transformação 
                <span class="text-primary-600">Social</span></h2>
            <p class="text-primary-900 leading-relaxed">
                Projetos de extensão em comunidades em situação de vulnerabilidade social, com instituições de ensino.
            </p>
        </div>
        
        <div>
            <h2 class="text-2xl font-medium tracking-tight text-secondary-600 mb-3">Transformação <span class="text-primary-600">Organizacional</span></h2>
            <p class="text-primary-900 leading-relaxed">
                Serviços especializados para organizações do trabalho, visando promover saúde, equidade, inclusão e pertencimento.
            </p>
        </div>
    </div>
</section>