---
import astroLogo from '../assets/logo-instituto-elaborar.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<a href="https://astro.build"
				><img src={astroLogo.src} width="300" height="125" alt="Instituto Elaborar" />
			</a>

			<p>Estamos construindo um novo espaço promover equidade de gênero e saúde integral para e com mulheres em situação de vulnerabilidade social, fomentando uma prática educacional cidadã.  </p>
	</main>
</div>
<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0ede6;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }

  #container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 100%;
    max-width: 900px;
    padding: 60px 16px;
  }

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #hero img {
    width: 500px;
    max-width: 100%;
  }

  #hero p {
    margin-top: 40px;
    line-height: 1.8;
    color: #782a1c;
  }
</style>

